{% extends "base.html" %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}Welcome to Django{% endblock %}
{% block content %}
    <p>Welcome {{ user.username }} !!!</p>

    {% if latest_tasks_list %}
    <ul>
    {% for task in latest_tasks_list %}
        <li><a href="/tasks/{{ task.id }}/">{{ task.number }}</a></li>
    {% endfor %}
    </ul>
	{% else %}
	    <p>No tasks are available.</p>
	{% endif %}

    <a href="/home/">Powrót</a><br>
    <a href="/logout/">Wyloguj</a>
{% endblock %}